<h1>Browser</h1>
<form method="get">
  <input type="text" class="search" name="search" value="{{filter.search}}" placeholder="Search...">
  <input type="number" name="from" class="difficulty" value="{{filter.from}}" placeholder="Difficulty from...">
  <span>-</span>
  <input type="number" name="to" class="difficulty" value="{{filter.to}}" placeholder="Difficulty to...">
  <input type="submit" value="search">
</form>
{{#each cubesData}}
<div class="cube">
  <img class="cube"
    src="{{imageUrl}}">
  <p class="name">{{name}}</p>
  <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
  <a class="btn" href="/details/{{id}}">Details</a>
</div>
{{else}}  
<h1>NO CUBES WERE FOUND</h1>
{{/each}}